# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# Runtime directories
data/*
!data/.gitkeep
checkpoints/*
!checkpoints/.gitkeep

# Extension project outputs
source/leisaac/**/output/
source/leisaac/**/outputs/
source/leisaac/**/videos/
source/leisaac/**/wandb/
umi/.cache/
